# .gitignore
/node_modules
/vendor
/storage/*.key
.env
.env.*
/storage/dotenv-editor/backups/
/public/storage
/public/hot
/public/mix-manifest.json
/public/css
/public/js
npm-debug.log
yarn-error.log
